html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: #f4f4f4;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem 2rem 1rem;
}

@media screen and (max-width: 575px) {
    main {
        padding: 1rem 0.5rem 2rem 0.5rem;
    }
}

.card {
    border-radius: 0;
    background: white;
    border: 0;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

a.btn-info, button.btn-info {
    color: #fff;
}

nav.navbar {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.badge.badge-tag {
    background: transparent;
    color: black;
    font-weight: normal;
    border: 1px solid black;
}

/* Posts cards */
.title-row a {
    font-weight: 600;
}
.description-row {
    color: grey;
}
.card-footer {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}
.card-footer a.badge {
    font-size: 12px;
}
.middot-divider {
    padding-right: .3em;
    padding-left: .3em;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}
.middot-divider::after {
    content: '\00B7';
}

li.list-group-item,
li.list-group-item:first-child,
li.list-group-item:last-child {
    border-radius: 0;
}
